# Dependencies
node_modules
.pnp
.pnp.js

# Production build outputs
dist
dist-ssr
*.local

# Environment variables
.env
.env*.local

# Vercel
.vercel

# Editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

.vercel
