# Dependencies
node_modules
.pnp
.pnp.js

# Production build outputs
dist
dist-ssr
*.local

# Environment variables
.env
.env*.local

# Vercel
.vercel

# Media & Demo Artifacts
*.mp4
*.mp3
*.wav
audio_segments/
audio_segments_v2/
audio_temp/
video_frames/
*.py
*.ps1

# Editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

.vercel
